*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#f5eeee;
color:#d7dfd7;
}

header{
background:#d6d1d1;
padding:20px;
color:rgb(153, 114, 114);
display:flex;
justify-content:space-between;
align-items:center;
}

nav a{
color:white;
margin-left:20px;
text-decoration:none;
font-weight:bold;
}

nav a:hover{
color:gold;
}

.hero{
position:relative;
}

.hero img{
width:100px;
height:120px;
object-fit:cover;
}

.hero-text{
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
background:rgba(0,0,0,.6);
padding:30px;
color:white;
text-align:center;
border-radius:10px;
}

.about{
padding:50px;
text-align:center;
}

.cards{
display:flex;
justify-content:center;
gap:30px;
padding:40px;
flex-wrap:wrap;
}

.card{
background:white;
width:250px;
padding:20px;
border-radius:15px;
box-shadow:0 5px 15px rgba(0,0,0,.2);
transition:.3s;
}

.card:hover{
transform:translateY(-10px);
}

.card img{
width:100px;
height:120px;
border-radius:50%;
object-fit:cover;
margin-bottom:15px;
}

.services{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:30px;
padding:40px;
}

.service{
background:white;
padding:20px;
border-radius:15px;
text-align:center;
box-shadow:0 5px 15px rgba(0,0,0,.2);
}

.service img{
width:100%;
height:120px;
object-fit:cover;
border-radius:10px;
}

.contact-container{
display:flex;
gap:40px;
padding:40px;
flex-wrap:wrap;
}

.contact-info,.contact-form{
flex:1;
background:white;
padding:25px;
border-radius:15px;
box-shadow:0 5px 15px rgba(0,0,0,.2);
}

.contact-form input,
.contact-form textarea{
width:100%;
padding:12px;
margin:10px 0;
}

.contact-form button{
background:#b30000;
color:white;
padding:12px;
border:none;
cursor:pointer;
}

footer{
background:#222;
color:white;
text-align:center;
padding:20px;
margin-top:30px;
}

.team {
    padding: 50px 40px;
    text-align: center;
}

.team h2 {
    font-size: 35px;
    margin-bottom: 30px;
}

.team-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.team-card {
    background: white;
    width: 280px;
    padding: 25px;
    border-radius: 15px;
    border: 2px solid #b30000;
    box-shadow: 0 5px 15px rgba(0,0,0,.2);
    transition: 0.3s;
}

.team-card:hover {
    transform: translateY(-10px);
}

.team-card img {
    width: 180px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 15px;
}

.team-card h3 {
    color: #b30000;
    margin-bottom: 10px;
}

.team-card p {
    color: #333;
    margin: 8px 0;
}